{{!-- used to render each of the org list items --}}
{{#*inline "orgListItem"}}
<li>
  <a href="{{link}}">
    {{org}}
  </a>
  <p>{{desc}}</p>
</li>
{{/inline}}

{{!-- each list of orgs by their corresponding level geography --}}
{{#*inline "resourcesByGeog"}}
<h2 id="{{anchor}}">{{title}}</h2>
<p>{{description}}</p>
  <ul>
  {{#each orgs}}
    {{> orgListItem }}
  {{/each}}
</ul>
{{/inline}}

{{>navigation_info}}
<div class="sidebar-main-wrapper">
  <aside class="info-pages">
    {{>language_toggle}}
    <nav class="side-nav" aria-labelledby="side-nav-title">
      <h2 id="side-nav-title">{{nav_side.h2}}</h2>
      <ul role="list">
        <li>
          <a href="#city-wide">{{nav_side.citywide}}</a>
        </li>
        <li>
          <a href="#boro">{{nav_side.boro}}</a>
        </li>
        <li class="responsive">
          <a href="#hood">{{nav_side.hood}}</a>
        </li>
        <li>
          <a href="#gov">{{nav_side.gov}}</a>
        </li>
      </ul>
    </nav>
  </aside>

  <main id="main">
    <a name="non-gov"></a>
    <h1>{{nongov.h1}}</h1>
    <p>{{nongov.h3}}</p>

    {{!-- city wide orgs --}}
    {{> resourcesByGeog
      anchor="city-wide"
      title=nongov.citywide.h3
      description=nongov.citywide.p01
      orgs=nongov.citywide.ul
    }}

    {{!-- borough wide orgs --}}
    {{> resourcesByGeog
      anchor="boro"
      title=nongov.boro.h3
      description=nongov.boro.p
      orgs=nongov.boro.ul
    }}

    {{!-- neighborhood level orgs --}}
    {{> resourcesByGeog
      anchor="hood"
      title=nongov.hood.h3
      description=nongov.hood.p
      orgs=nongov.hood.ul
    }}

    {{!-- state & city government orgs --}}
    {{> resourcesByGeog
      anchor="gov"
      title=gov.h2
      description=gov.p
      orgs=gov.ul
    }}

  </main>
</div>
