{{>navigation}}

<div id="mobile-message">
  <img src="assets/png/rotate.png">
  <h1>{{mobile_msg}}</h1>
</div>

<div class="desktop">
  {{! LanguageToggle desktop only }}
  {{>language_toggle}}
</div>

{{>progress_indicator}}

<div class="slides-container">
    <div class="slide" id="slide-1">

      <div class="mobile">
        {{! LanguageToggle mobile / tablet only }}
        {{>language_toggle}}
      </div>

      <div class="centered">
          <img class="triple-s" src="assets/png/triple-sss.png">
          <img class="building intro" src="assets/png/building.png">
          <h1 class="landing">{{ slide01.h1 }}</h1>
          <h2 class="sub-head">{{ slide01.h2 }}</h2>
          <p class="landing">{{ slide01.landing }}</p>
          <p class="go-step4"><a class="go-step4" href="#">
            {{ slide01.go_step_4 }}
          </a></p>
      </div>
      <div class="go-next bottom-arrow">
        <h3>{{nav_bottom_arrow.begin}}</h3>
        <div class="arrow"></div>
      </div>
    </div>

    <div class="slide" id="slide-2">
      <div class="centered">
        <!-- <h4 class="step">Step 1 of 5</h4> -->
        <h1 class="step">{{slide02.h1}}</h1>
        <p class="step">{{slide02.privacy}}</p>
        {{>address_search_form}}
      </div>
    </div>

    <div class="slide" id="slide-3">
        <div class="centered v-centered">
            <h1 class="checking"> {{slide03.checking }} </h1>
            <p> {{slide03.p}} </p>
            <div id="sprite"></div>
        </div>
    </div>

    <div class="slide" id="slide-4">
        <div class="centered">
          <div class="yes hidden">
              <h1>{{{slide04.yes.h1}}}</h1>
              <p>{{{slide04.yes.p}}}</p>
          </div>

          <div class="no">
              <p>{{{slide04.no.p}}}</p>
          </div>

          <div id="map-container">
              {{>search_result_map}}
              <p class="map-message"> {{slide04.map.caption}} </p>
              <p class="map-message"><a href="https://chenrick.carto.com/viz/c591fa2e-726b-11e6-83e8-0e05a8b3e3d7/public_map" target="_blank">{{slide04.map.view_map}}</a></p>
          </div>
        </div>

        <div class="go-next bottom-arrow">
          <h3>{{nav_bottom_arrow.next}}</h3>
          <div class="arrow"></div>
        </div>
    </div>

    <div class="slide" id="slide-5">
        <div class="centered">
            <!-- <h4 class="step">Step 2 of 5</h4> -->
            <h1>{{slide05.h1}}</h1>
            <div class="dhcr-choice">
              <p><a id="mail-to" href="#">{{slide05.mail}}</a></p>
              <p>{{slide05.phone}}<br><a href="tel:1-718-739-6400">718 739-6400</a></p>
              <p>{{slide05.visit}}<br><a href="http://www.nyshcr.org/AboutUs/contact.htm#rent-admin" target="_blank">{{slide05.office}}</a></p>
            </div>
            <p class="be-sure">{{slide05.tell_them}}</p>
            <p class="be-sure">{{slide05.mailed}}</p>
        </div>
        <div class="go-next bottom-arrow">
          <h3>{{nav_bottom_arrow.next}}</h3>
          <div class="arrow"></div>
        </div>
    </div>

    <div class="slide" id="slide-6">
        <div class="centered">
            <!-- <h4 class="step">Step 3 of 5</h4> -->
            <h1 class="check-it">{{slide06.h1}}</h1>
            <p class="check-it">
               {{slide06.arrive}}
            </p>
            <p class="check-it">
              {{slide06.friends}}
            </p>
            {{>add_to_calendar}}
        </div>
        <div class="go-next bottom-arrow">
          <h3>{{nav_bottom_arrow.next}}</h3>
          <div class="arrow"></div>
        </div>
    </div>

    <div class="slide" id="slide-7">
        <div class="centered">
            <!-- <h4 class="step">Step 4 of 5</h4> -->
            <h1>{{slide07.h1}}</h1>
            <a href="#rent-history">
              <img class="rent-history" src="assets/png/sample-rent-history-thumb.png">
            </a>
            <p class="view-sample"><a href="#rent-history">
              {{slide07.p}}
            </a></p>
        </div>
        <div class="go-next bottom-arrow">
          <h3>{{nav_bottom_arrow.next}}</h3>
          <div class="arrow"></div>
        </div>
    </div>

    <div class="slide" id="slide-8">
        <div class="centered">
            <!-- <h4 class="step">Step 5 of 5</h4> -->
            <h1>{{slide08.h1}}</h1>
            <!-- <img class="mascot monster" src="assets/png/no1.png"> -->
            <div class="action-choice">
              <h4>{{slide08.option01}}</h4>
              <p class="no-local-tr">
                 <a href="info/resources.html">{{slide08.no_local_tr.a}}</a>
                 {{slide08.no_local_tr.p}}
              </p>

              <p class="yes-local-tr hidden">
                {{slide08.yes_local_tr.p}}
                <a href="#open-modal"> {{slide08.yes_local_tr.a}} </a>
              </p>

              <h4>{{slide08.option02}}</h4>
              <p>{{slide08.p1}}
                <a href="http://www.nyshcr.org/Forms/Rent/ra89.pdf" target="_blank">{{slide08.a}}</a>
                {{slide08.p2}}
              </p>
            </div>
        </div>
        <div class="go-next bottom-arrow">
          <h3>{{nav_bottom_arrow.next}}</h3>
          <div class="arrow"></div>
        </div>
    </div>

    <div class="slide" id="slide-9">
        <div class="centered v-centered">
            <h1 class="end">{{slide09.h1}}</h1>
            <img class="mascot" src="assets/png/yes.png">
            <div class="button-holder">
              <p class="button start-over go-first">
                <a href="#">{{slide09.start}}</a>
              </p>
              <p class="button learn-more" type="submit">
                <a href="info/why.html">{{slide09.learn}}</a>
              </p>
            </div>
            <div class="share-box-end">
                <p class="share-it">{{slide09.share}}</p>
                <div class="addthis_sharing_toolbox"></div>
            </div>
            <div class="button-holder">
                <p class="button rent-logic" type="submit">
                  <a id="rent-logic" target="_blank" href="https://rentlogic.com">{{slide09.rent}}</a>
                </p>
            </div>
        </div>
    </div>
</div> <!-- end slides container -->
