{{!-- used to render each of the org list items --}}
{{#*inline "orgListItem"}}
  <li>
    <a href="{{link}}">
      {{org}}
    </a>
    <p>{{desc}}</p>
  </li>
{{/inline}}

{{>navigation_info}}
<div class="sidebar-main-wrapper">
  <aside class="info-pages">
    {{>language_toggle}}
    <nav class="side-nav" aria-labelledby="side-nav-title">
      <h2 id="side-nav-title">{{nav_side.h2}}</h2>
      <ul role="list">
        <li>
          <a href="#city-wide">{{nav_side.citywide}}</a>
        </li>
        <li>
          <a href="#boro">{{nav_side.boro}}</a>
        </li>
        <li class="responsive">
          <a href="#hood">{{nav_side.hood}}</a>
        </li>
        <li>
          <a href="#gov">{{nav_side.gov}}</a>
        </li>
      </ul>
    </nav>
  </aside>

  <main id="main">
    <a name="non-gov"></a>
    <h1>{{nongov.h1}}</h1>
    <p>{{nongov.h3}}</p>

    <a name="city-wide"></a>
    <h2>{{nongov.citywide.h3}}</h2>
    <p>{{nongov.citywide.p01}}</p>
    <ul>
    {{#each nongov.citywide.ul}}
      {{> orgListItem }}
    {{/each}}
    </ul>

    <a name="boro"></a>
    <h2>{{nongov.boro.h3}}</h2>
    <p>{{nongov.boro.p}}</p>
    <ul data-group="boro">
    {{#each nongov.boro.ul}}
      {{> orgListItem }}
    {{/each}}
    </ul>

    <a name="hood"></a>
    <h2>{{nongov.hood.h3}}</h2>
    <p>{{nongov.hood.p}}</p>
    <ul>
    {{#each nongov.hood.ul}}
      {{> orgListItem }}
    {{/each}}
    </ul>

    <a name="gov"></a>
    <h2>{{gov.h2}}</h2>
    <p>{{gov.p}}</p>
    <ul>
    {{#each gov.ul}}
      {{> orgListItem }}
    {{/each}}
    </ul>
  </main>
</div>
