<nav class="main-nav">
  <img class="logo" src="assets/png/logo.png">
  <h1>            
    <a class="go-first" href="#">Am I Rent Stabilized?</a>
  </h1>
  <div class="burger" alt="-"></div>
  <ul>
    <li class="nav"><a href="html/why.html">{{nav_main.why}}</a></li>
    <li class="nav"><a href="html/how.html">{{nav_main.how}}</a></li>
    <li class="nav"><a href="html/resources.html">{{nav_main.resources}}</a></li>            
  </ul>
</nav>

<div id="mobile-message">
  <img src="assets/png/rotate.png">
  <h1>{{mobile_msg}}</h1>          
</div>

<nav class="margin-circles">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</nav>

<div class="slides-container">
    <div class="slide" id="slide-1">
      <div id="lang-toggle">
          <ul>
              <li><a class="toggle-es" href="#"></a></li>
              <li><p>•</p></li>
              <li><a class="toggle-zh" href="#"></a></li>
          </ul>
      </div>      
      <div class="centered"> 
          <img class="triple-s" src="assets/png/triple-sss.png">              
          <img class="building intro" src="assets/png/building.png">
          <h1 class="landing">{{ slide01.h1 }}</h1> 
          <h2 class="sub-head">{{ slide01.h2 }}</h2>
          <p class="landing">{{ slide01.landing }}</p>
          <p class="go-step4"><a class="go-step4" href="#">
            {{ slide01.go_step_4 }}
          </a></p>
      </div>
      <div class="go-next bottom-arrow">
        <h3>{{nav_bottom_arrow.begin}}</h3>
        <div class="arrow"></div>
      </div>  
    </div>

    <div class="slide" id="slide-2">
      <div class="centered">
        <!-- <h4 class="step">Step 1 of 5</h4> -->
        <h1 class="step">{{slide02.h1}}</h1>
        <p class="step">{{slide02.privacy}}</p>

        <form id="address-form">                    
          <div class="user-data street-address">
              <input class="address-input" name="address-input" type="text" placeholder="{{{slide02.form.address}}}" tabindex="1">
          </div>                        
          <div class="user-data borough-select">
              <span id="select-boro"> {{{slide02.form.boro_select}}} </span>
              <ul class="drop-down" id="boroughs">
                <li><a data-boro="BX" href="#"> {{ slide02.form.boroughs.bx }} </a></li>
                <li><a data-boro="BK" href="#"> {{ slide02.form.boroughs.bk }} </a></li>
                <li><a data-boro="MN" href="#"> {{ slide02.form.boroughs.mn }} </a></li>
                <li><a data-boro="QN" href="#"> {{ slide02.form.boroughs.qn }}  </a></li>
                <li><a data-boro="SI" href="#"> {{ slide02.form.boroughs.si }}  </a></li>
              </ul>
          </div>
          <ul class="validation-error">
            <li id="error-not-found"  class="val-err vis-hidden">{{{ slide02.form.val_errors.not_found }}}</li>
            <li id="error-address" class="val-err vis-hidden"> {{{slide02.form.val_errors.address}}} </li>
            <li id="error-boro" class="val-err vis-hidden"> {{slide02.form.val_errors.boro}} </li>
          </ul>                                                
        </form>                       
      </div>
      <p class="button search" type="submit"><a href="#"> {{ slide02.search }} </a></p>
    </div>  

    <div class="slide" id="slide-3">
        <div class="centered v-centered">
            <h1 class="checking"> {{slide03.checking }} </h1>
            <p> {{slide03.p}} </p>
            <div id="sprite"></div>
        </div>
    </div>

    <div class="slide" id="slide-4">
        <div class="centered">
          <div class="yes hidden">
              <!-- <h1 class="news">Good News!</h1> -->
              <h1> {{{slide04.yes.h1}}} </h1>
              <p> {{{slide04.yes.p}}} </p>
          </div>

          <div class="no">
              <!-- <h1 class="news">Sorry!</h1> -->
              <p> {{{slide04.no.p}}} </p>
          </div>

          <div id="map-container">
              <div id="map"></div>
              <p class="map-message"> {{slide04.map.caption}} </p>
              <p class="map-message"><a href="http://cdb.io/1CvSBy7" target="_blank">{{slide04.map.view_map}}</a></p>
          </div>                                    
        </div>

        <div class="go-next bottom-arrow">
          <h3>{{nav_bottom_arrow.next}}</h3>
          <div class="arrow"></div>
        </div>
    </div>        

    <div class="slide" id="slide-5">
        <div class="centered">
            <!-- <h4 class="step">Step 2 of 5</h4> -->
            <h1>{{slide05.h1}}</h1>
            <div class="dhcr-choice">
              <p><a id="mail-to" href="#">{{slide05.mail}}</a></p>
              <p>{{slide05.phone}}<br><a href="tel:1-718-739-6400">718 739-6400</a></p>
              <p>{{slide05.visit}}<br><a href="http://www.nyshcr.org/AboutUs/contact.htm#rent-admin" target="_blank">{{slide05.office}}</a></p>                      
            </div>
            <p class="be-sure">{{slide05.tell_them}}</p>
            <p class="be-sure">{{slide05.mailed}}</p>
        </div>                
        <div class="go-next bottom-arrow">
          <h3>{{nav_bottom_arrow.next}}</h3>
          <div class="arrow"></div>
        </div>
    </div>

    <div class="slide" id="slide-6">
        <div class="centered">
            <!-- <h4 class="step">Step 3 of 5</h4> -->
            <h1 class="check-it">{{slide06.h1}}</h1>
            <p class="check-it">
              <span class="addtocalendar atc-style-menu-wb" id="atc_text_link">
                <a class="atcb-link" id="atc_text_link_link" href="#" tabindex="-1"></a><br> 
              </span>
            </p>
            <p class="check-it">
               {{slide06.arrive}}
            </p>
            <p class="check-it">
              {{slide06.friends}}
            </p>
        </div>
        <div class="go-next bottom-arrow">
          <h3>{{nav_bottom_arrow.next}}</h3>
          <div class="arrow"></div>
        </div>
    </div>

    <div class="slide" id="slide-7">                
        <div class="centered">                    
            <!-- <h4 class="step">Step 4 of 5</h4> -->
            <h1>{{slide07.h1}}</h1>
            <a href="#rent-history">
              <img class="rent-history" src="assets/png/sample-rent-history-thumb.png">
            </a>
            <p class="view-sample"><a href="#rent-history">
              {{slide07.p}}
            </a></p>
        </div>
        <div class="go-next bottom-arrow">
          <h3>{{nav_bottom_arrow.next}}</h3>
          <div class="arrow"></div>
        </div>
    </div>   

    <div class="slide" id="slide-8">
        <div class="centered">
            <!-- <h4 class="step">Step 5 of 5</h4> -->
            <h1>{{slide08.h1}}</h1>
            <!-- <img class="mascot monster" src="assets/png/no1.png"> -->
            <div class="action-choice">                      
              <h4>{{slide08.option01}}</h4>
              <p class="no-local-tr">
                 <a href="html/resources.html">{{slide08.no_local_tr.a}}</a>
                 {{slide08.no_local_tr.p}}
              </p>

              <p class="yes-local-tr hidden">
                {{slide08.yes_local_tr.p}}
                <a href="#open-modal"> {{slide08.yes_local_tr.a}} </a>
              </p>

              <h4>{{slide08.option02}}</h4>
              <p>{{slide08.p1}}
                <a href="http://www.nyshcr.org/Forms/Rent/ra89.pdf" target="_blank">{{slide08.a}}</a>
                {{slide08.p2}}
              </p>
            </div>                    
        </div>                
        <div class="go-next bottom-arrow">
          <h3>{{nav_bottom_arrow.next}}</h3>
          <div class="arrow"></div>
        </div>
    </div>    

    <div class="slide" id="slide-9">
        <div class="centered v-centered">
            <h1 class="end">{{slide09.h1}}</h1>
            <img class="mascot" src="assets/png/yes.png">
            <!-- <p><span class="go-first">Start Over</span></p> -->
            <div class="button-holder">
              <p class="button start-over go-first" type="submit"><a href="#">
                {{slide09.start}}</a></p>
              <p class="button learn-more" type="submit"><a href="html/why.html">{{slide09.learn}}</a></p>
            </div>
            <div class="share-box-end">
                <p class="share-it">{{slide09.share}}</p>
                <div class="addthis_sharing_toolbox"></div> 
            </div>                                    
        </div>
    </div>                        
</div> <!-- end slides container -->
<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-551311020cabbff0" async="async"></script>