<nav class="main-nav">
  <img class="logo" src="../assets/png/logo.png">
  <h1>            
    <a class="go-first" href="../index.html">Am I Rent Stabilized?</a>
  </h1>
  <div class="burger" alt="-"></div>
  <ul>
    <li class="nav"><a href="why.html">{{nav_main.why}}</a></li>
    <li class="nav"><a href="how.html">{{nav_main.how}}</a></li>
    <li class="nav"><a href="resources.html">{{nav_main.resources}}</a></li>
  </ul>
</nav>

<div id="left">
  <div id="lang-toggle">
      <ul>
          <li><a href="../es/html/resources.html">en español</a></li>
          <li><p>•</p></li>
          <li><a href="../zh/html/resources.html">中文</a></li>
      </ul>
  </div>

  <div id="side-nav">
    <h3>{{nav_side.h3}}</h3>
    <ul>
      <li>
        <a class="responsive-turn-off" href="#non-gov">{{nav_side.nongov}}</a>
        <ul>
          <li><a href="#city-wide">{{nav_side.citywide}}</a></li>
          <li><a href="#boro">{{nav_side.boro}}</a></li>
          <li class="responsive"><a href="#hood">{{nav_side.hood}}</a></li>
        </ul>
      </li>
      <li><a href="#gov">{{nav_side.gov}}</a></li>
    </ul>
  </div>
</div>

<div id="main">
  <a name="non-gov"></a>
  <h1>{{nongov.h1}}</h1>
  <p>{{nongov.h3}}</p>
  <a name="city-wide"></a>
  <h3>{{nongov.citywide.h3}}</h3>
  <p>{{nongov.citywide.p01}}</p>
  <ul>
    <li>
      <a target="_blank" href="http://www.aafe.org">
      {{nongov.citywide.ul.[0].org}}
      </a>
      <p>{{nongov.citywide.ul.[0].desc}}</p>
    </li>
    <li>
      <a target="_blank" href="http://www.anhd.org">
      {{nongov.citywide.ul.[1].org}}
      </a>
      <p>{{nongov.citywide.ul.[1].desc}}</p>
    </li>
    <li>
      <a target="_blank" href="http://cuffh.org/">
        {{nongov.citywide.ul.[2].org}}
      </a>
      <p>{{nongov.citywide.ul.[2].desc}}</p>
    </li>
    <li>
      <a target="_blank" href="http://www.eisny.org">
        {{nongov.citywide.ul.[3].org}}
      </a>
      <p>{{nongov.citywide.ul.[3].desc}}</p>
    </li>
    <li>
      <a target="_blank" href="">
      {{nongov.citywide.ul.[3].org}}
    </a>
      <p>{{nongov.citywide.ul.[3].desc}}</p>
    </li>
    <li>
      <a target="_blank" href="http://metcouncilonhousing.org/">
        {{nongov.citywide.ul.[4].org}}
      </a>
      <p>{{nongov.citywide.ul.[4].desc}}</p>
    </li>
    <li>
      <a target="_blank" href="http://www.mfy.org/projects">
      {{nongov.citywide.ul.[5].org}}
    </a>
      <p>{{nongov.citywide.ul.[5].desc}}</p>
    </li>
    <li>
      <a target="_blank" href="http://www.picturethehomeless.org/">
      {{nongov.citywide.ul.[6].org}}
      </a>
      <p>{{nongov.citywide.ul.[6].desc}}</p>
    </li>            
    <li>
      <a target="_blank" href="http://righttothecity.org/">
        {{nongov.citywide.ul.[7].org}}
      </a>
      <p>{{nongov.citywide.ul.[7].desc}}</p>
    </li>
    <li>
      <a target="_blank" href="http://www.tenantsandneighbors.org/">
        {{nongov.citywide.ul.[8].org}}
      </a>
      <p>{{nongov.citywide.ul.[8].desc}}</p>
    </li>            
    <li>
      <a target="_blank" href="http://www.uhab.org">
        {{nongov.citywide.ul.[9].org}}
      </a>
      <p>{{nongov.citywide.ul.[9].desc}}</p>
    </li>
  </ul>
  
  <a name="boro"></a>          
  <h3>By Borough</h3>
  <p>These organizations operate within a particular borough.</p>
  <ul>
    <li>
      <a href="http://brooklynhousing.org">Brooklyn Housing And Family Services, Inc.</a>
      <p>Works to provide Brooklyn residents with safe and affordable housing through outreach and counseling services.</p>
    </li>
    <li><a target="_blank" href="http://www.bronxshepherds.org/">Bronx Shepherds Restoration Corporation</a>
      <p>Provides affordable housing, Community Programs and many other service to residents of the Bronx Community.</p>
    </li>                        
    <li><a target="_blank" href="http://www.bka.org">Brooklyn Legal Services Corporation A</a>
      <p>Provides high-quality legal assistance to low-income individuals and community groups in Brooklyn.</p>
    </li>
    <li><a target="_blank" href="http://queenscommunityhouse.org">Queens Community House, Inc.</a>
      <p>Helps all Queens residents with affordable housing and community development.</p>
    </li>
    <li><a target="_blank" href="www.nhsofsi.org">Neighborhood Housing Services of Staten Island </a>
      <p>Promotes affordable housing and safety of residents in Staten Island / Richmond County.</p>
    </li>
  </ul>
  
  <a name="hood"></a>
  <h3>By Neighborhood</h3>
  <p>These organizations operate with a specific neighborhood or catchment area.</p>
  <ul>
    <li><a target="_blank" href="http://www.carrollgardensassociation.com/">Carroll Gardens Association</a>
      <p>Develops affordable/workforce housing and provides economic development, workforce training, youth services, tenant services and benefits assistance to the residents of Southwest Brooklyn.</p>
    </li>            
    <li><a target="_blank" href="https://coopersquare.org/">Cooper Square Committee</a>
      <p>Helps organize tenants in the Cooper Square neighborhood of the East Village.</p>
    </li>
    <li><a target="_blank" href="http://crownheightstenantunion.org/">Crown Heights Tenants Union</a>
      <p>A union of Tenant Associations, that began meeting in October 2013 in response to rampant gentrification, displacement, and illegal rental overcharges in Crown Heights, Brooklyn.</p>
    </li>
    <li><a target="_blank" href="http://www.enyuyc.net">East New York Urban Youth Corps</a>
      <p>Neighborhood-based, non-profit community development organization serving East New York, Brooklyn.</p>
    </li>
    <li>
      <a target="_blank" href="http://www.ebofb.org">El Barrio's Operation Fight Back</a>
      <p>Renovates, manages and provides affordable housing, supportive services, education, advocacy and economic development opportunities for low-income families in East Harlem.</p>
    </li>
    <li><a target="_blank" href="http://www.fifthave.org/">Fifth Avenue Committee, Inc.</a>
      <p>Helps tenants and promotes community development in south Brooklyn and lower Park Slope.</p>
    </li>
    <li><a target="_blank" href="http://www.fdconline.org/">Flatbush Development Corp.</a>
      <p>Performs community development and affordable housing in Flatbush, Brooklyn.</p>
    </li>
    <li><a target="_blank" href="http://mvdc.org/">Manhattan Valley Development Corporation</a>
      <p>Provides safe, decent housing that low income families and individuals can afford in Manhattan Valley and throughout Upper Manhattan.</p>
    </li>
    <li><a target="_blank" href="http://www.nhsnyc.org">Neighborhood Housing Services of NYC, Inc.</a>
      <p>Community-based organization with targeted impact in the following Neighborhoods: Bedford-Stuyvesant, East Flatbush, North Bronx, Northern Queens, and South Bronx.</p>
    </li>
    <li><a target="_blank" href="http://NWBcommunity.org">North West Bushwick Community Group</a>
      <p>Helps tenants in the Bushwick neighborhood of Brooklyn fight illegal evictions and promotes the preservation and development of truly affordable housing.</p>
    </li>
    <li><a target="_blank" href="www.prattarea.org">Pratt Area Community Council</a>
      <p>Promotes affordable housing and small business development in central Brooklyn.</p>
    </li>
    <li><a target="_blank" href="http://stnicksalliance.org/SNA/#">St. Nicholas Neighborhood Preservation Corporation</a>
      <p>Helps to preserve and rebuild the Williamsburg-Greenpoint neighborhood to the benefit of its low- and moderate-income residents.</p>
    </li>
    <li><a target="_blank" href="http://www.unhp.org/">University Neighborhood Housing Program</a>
      <p>A nonprofit organization working to create, preserve, and finance affordable housing in the Northwest Bronx.</p>
    </li>
    <li><a target="_blank" href="http://www.whedco.org">Women’s Housing and Economic Development Corporation</a>
      <p>Community development organization that builds affordable housing and promotes community development in the south Bronx.</p>
    </li>
  </ul>

  <a name="gov"></a>
  <h1>Government Resources</h1>
  <p>These are links to websites of departments operating within the state and city levels of government that relate to housing and property ownership in NYC.</p>
  <ul>
    <li>
      <a target="_blank" href="http://www.nyshcr.org">New York Department of Homes and Community Renewal</a>
      <p>Where you may file a complaint for a rent over charge and ask for advice on housing related issues. You may also speak with them in person at a local <a href="http://www.nyshcr.org/AboutUs/contact.htm#rent-admin">HCR Office</a>.</p>
    </li>          
    <li>
      <a target="_blank" href="http://a836-acris.nyc.gov/CP/">NYC Automated City Register Information System</a>
      <p>Look up property transaction information such as when a property was bought and sold by whom.</p>
    </li>          
    <li>
      <a target="_blank" href="http://www.nyc.gov/html/dob/html/bis/bis.shtml">NYC Department of Buildings</a>
      <p>Look up building permits and violations.</p>
    </li>
    <li>
      <a target="_blank" href="http://www1.nyc.gov/site/finance/benefits/tenants-drie.page">NYC DRIE</a>
      <p>Tenants that qualify for the NYC Rent Freeze Program for Tenants with Disabilities (DRIE) can have their rent frozen and be exempt from future rent increases.</p>
    </li>
    <li>
      <a href="https://a806-housingconnect.nyc.gov/nyclottery/lottery.html#home">NYC Housing Connect</a>
      <p>Search for and be notified of new affordable housing in NYC. Many new buildings in NYC are required by law to have a portion of their units rented below market rate. To qualify to rent these units you must meet certain income criteria.</p>
    </li>          
    <li>
      <a target="_blank" href="http://www1.nyc.gov/site/hpd/index.page">NYC Housing Preservation and Development</a> 
      <p>The NYC agency that oversees preserving the stability and affordability of our existing housing stock. You may also <a target="_blank" href="https://hpdonline.hpdnyc.org/HPDonline/provide_address.aspx">find housing violations by building address here.</a></p>
    </li>          
    <li>
      <a target="_blank" href="http://nycrgb.org/html/resources/resources.html">NYC Rent Guidelines Board</a>
      <p>Important info for renters in NYC.</p>
    </li>
    <li>
      <a target="_blank" href="http://www1.nyc.gov/site/finance/benefits/tenants-scrie.page">NYC SCRIE</a>
      <p>Tenants who qualify for the NYC Rent Freeze Program for Seniors (SCRIE) can have their rent frozen and be exempt from future rent increases.</p>
    </li>
  </ul>          
</div>   