---
layout: base.hbs
---

<pre>{{data}}</pre>

<div class="sidebar-main-wrapper">
  <aside class="info-pages">
    {{>language_toggle}}

    <nav class="side-nav" aria-labelledby="side-nav-title">
      <h2 id="side-nav-title">{{how.nav_side.h2}}</h2>
      <ul role="list">
        <li><a href="#how">{{how.nav_side.how}}</a></li>
        <li><a href="#code-data">{{how.nav_side.code}}</a></li>
        <li><a href="#credits">{{how.nav_side.credits}}</a></li>
      </ul>
    </nav>
  </aside>

  <main id="main">
    <h1 id="how">{{how.how.h2}}</h1>
    <p>
      {{how.how.p01.[0]}}
      <strong>{{how.how.p01.[1]}}</strong>
      {{how.how.p01.[2]}}
    </p>

    <p>
      {{how.how.p02.[0]}}
      <strong>{{how.how.p02.[1]}}</strong>
    </p>

    <p>
      <strong>
      {{how.credits.kofi.a}}
      <a href="https://ko-fi.com/chrislhenrick"  rel="noopener">{{how.credits.kofi.b}}</a>
      {{how.credits.kofi.c}}
      </strong>
    </p>

    <h2>{{how.how.h3.[0]}}</h2>
    <p>
      {{how.how.p03.[0]}}
      <strong>{{how.how.p03.[1]}}</strong>
      {{how.how.p03.[2]}}
    </p>

    <h2>{{how.how.h3.[1]}}</h2>
    <p>
      {{how.how.p04.[0]}}
      <a href="http://www.nyshcr.org/">
        {{how.how.p04.[1]}}
      </a>
      {{how.how.p04.[2]}}
    </p>
    <p>
      {{how.how.p05}}
    </p>
    <p>
      {{how.how.p06.[0]}}
      <a href="https://www.nyc.gov/content/planning/pages/resources/datasets/mappluto-pluto-change">
        {{how.how.p06.[1]}}
      </a>
      {{how.how.p06.[2]}}
      <a href="https://blog.johnkrauss.com/where-is-decontrol/">
        {{how.how.p06.[3]}}
      </a>
    </p>

    <p>
      {{how.how.p07}}
    </p>

    <h2 id="code-data">{{how.code.h2}}</h2>
    <p>
      {{how.code.p}}
    </p>
    <ul>
      <li>
        <a href="https://github.com/clhenrick/am-i-rent-stabilized">
          {{how.code.ul.[0]}}
        </a>
      </li>
      <li>
        <a href="https://www.dropbox.com/scl/fi/x8gdmve5hmw2x9gfpqepx/ny_likely_rs_2020.csv?rlkey=hzrl32sjldwouicux1lr1e5xc&dl=0">
          {{how.code.ul.[1]}}
        </a>
      </li>
      <li>
        <a href="https://github.com/clhenrick/dhcr-rent-stabilized-data">
          {{how.code.ul.[2]}}
        </a>
      </li>
    </ul>

    <h2 id="credits">{{how.credits.h2}}</h2>
    <p>
      {{how.credits.p01}}
    </p>
    <ul>
      <li>
        <a href="http://carolinewoolard.com/">{{how.credits.ul.[0]}}</a>
        {{how.credits.ul.[1]}}
      </li>
      <li>
        <a href="http://radishlab.com/">{{how.credits.ul.[2]}}</a>
        {{how.credits.ul.[3]}}
      </li>
      <li>
        <a href="http://goodlemons.com/">{{how.credits.ul.[4]}}</a>
        {{how.credits.ul.[5]}}
      </li>
      <li>
        <a href="http://betanyc.us">{{how.credits.ul.[6]}}</a>
        {{how.credits.ul.[7]}}
      </li>
      <li>
        <a href="http://carto.com">{{how.credits.ul.[8]}}</a>
        {{how.credits.ul.[9]}}
      </li>
    </ul>

    <h2>{{how.credits.h3}}</h2>
    <p>
      {{how.credits.p02.[0]}}
      <a href="mailto:amirentstabilized@gmail.com">
        {{how.credits.p02.[1]}}
      </a>
    </p>
    <p>
      <strong>
      {{how.credits.kofi.a}}
      <a href="https://ko-fi.com/chrislhenrick"  rel="noopener">{{how.credits.kofi.b}}</a>
      {{how.credits.kofi.c}}
      </strong>
    </p>
    <p>
      {{how.credits.p03}}
    </p>
  </main>
</div>
