{{! Address search on slide 2 }}
<form id="address-form">
  <div class="user-data street-address">
      <input
        class="address-input"
        name="address-input"
        type="text"
        list="autocomplete-results"
        placeholder="{{{slide02.form.address}}}"
        autocomplete="off"
      >
      <datalist id="autocomplete-results"></datalist>
  </div>
  <ul class="validation-error">
    <li id="error-not-found"  class="val-err vis-hidden">{{{ slide02.form.val_errors.not_found }}}</li>
    <li id="error-address" class="val-err vis-hidden"> {{{slide02.form.val_errors.address}}} </li>
    <li id="error-boro" class="val-err vis-hidden"> {{slide02.form.val_errors.boro}} </li>
  </ul>
  <button class="button submit" type="submit">{{ slide02.search }}</button>
</form>
