<div class="org-container">
  <a
    href="#close"
    title="Close"
    class="close"
    aria-label="Close Tenants Rights Info Modal Box"
  >×</a>
  <h2>Tenants Rights Organizations in Your Neighborhood</h2>
  {{#each trGroups}}
    <div class="tr-org-info">
      <h3>{{this.name}}</h3>
      {{#if this.website}}
        <p class="website-url"><span>Website: </span><a
            target="_blank"
            href="{{this.website}}"
          >{{this.website}}</a></p>
      {{/if}}
      {{#if this.phone}}
        <p class="phone-no"><span>Phone: </span>{{this.phone}}</p>
      {{/if}}
      {{#if this.address}}
        <p class="address"><span>Address: </span>{{this.address}}</p>
      {{/if}}
      {{#if this.email}}
        <p class="email"><span>Email: </span>{{this.email}}</p>
      {{/if}}
      {{#if this.description}}
        <p class="description"><span>Description: </span><br
          />{{this.description}}</p>
      {{/if}}
    </div>
  {{/each}}
</div>