<div class="org-container">
    <a href="#close" title="Close" class="close">X</a>
    <h1>
        Here are some groups that help people with housing
        issues in your neighborhood:
    </h1>
    {{#each orgs}}
    <div class="tr-org-info">
        <h3>{{org.name}}</h3>
        {{#if org.website}}
        <p class="website-url"><span>Website: </span><a target="_blank" href="{{org.website}}">{{org.website}}</a></p>
        {{/if}}
        {{#if org.phone}}
        <p class="phone-no"><span>Phone: </span>{{org.phone}}</p>
        {{/if}}
        {{#if org.address}}
        <p class="address"><span>Address: </span>{{org.address}}</p>
        {{/if}}
        {{#if org.email}}
        <p class="email"><span>Email: </span>{{org.email}}</p>
        {{/if}}
        <p class="description"><span>Description: </span><br>
            {{org.description}}
        </p>
    </div>
    {{/each}}
</div>